<div class="smag-no-logo" data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'position': 'relative'}">
  <div class="smag-no-logo--bodytext-wrapper">
    <div class="smag-no-logo--bodytext-inner">
      <textarea auto-grow class="smag-no-logo--title has-placeholder" data-ng-trim="false" placeholder="Tilføj en titel" data-ng-model="ikSlide.options.title" spellcheck="false">
      </textarea>
      <textarea auto-grow class="smag-no-logo--bodytext has-placeholder" data-ng-trim="false" placeholder="Tilføj en brødtekst. Boksen udvider sig når du tilføjer tekst." data-ng-model="ikSlide.options.bodytext" spellcheck="false" data-ng-style="{'color': ikSlide.options.textcolor}">
      </textarea>
    </div>
  </div>
</div>
